:root {
    --background-color: white;
    --text-color: #d90429;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);

    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#gallery {
    z-index: 0;
    height: 120vmax;
    width: 120vmax;
    position: absolute;
}

#block:hover {
    transform: scale(1.1);
    transition: transform 800ms ease;
}

#block:hover > img {
    opacity: 1;
    transform: scale(1.01);
}

#block > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease, transform 800ms ease;
}

#block {
    position: absolute;
    border-radius: 20px;
    transition: transform 800ms ease;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#block:nth-child(1) {
    background-color: yellow;
    height: 13%;
    width: 7%;
    left: 10%;
    top: 3%;
}

#block:nth-child(2) {
    background-color: purple;
    height: 7%;
    width: 13%;
    left: 47%;
    top: 2%;
}

#block:nth-child(3) {
    background-color: green;
    height: 10%;
    width: 8%;
    top: 19%;
    left: 36%;
}

#block:nth-child(4) {
    background-color: gray;
    height: 10%;
    width: 13%;
    top: 27%;
    left: 57%;
}

#block:nth-child(5) {
    background-color: black;
    height: 13%;
    width: 9%;
    top: 29%;
    left: 4%;
}

#block:nth-child(6) {
    background-color: cyan;
    height: 12%;
    width: 12%;
    top: 43%;
    left: 28%;
}

#block:nth-child(7) {
    background-color: darkblue;
    height: 9%;
    width: 17%;
    top: 53%;
    left: 67%;
}

#block:nth-child(8) {
    background-color: darkred;
    height: 17%;
    width: 12%;
    top: 9%;
    left: 80%;
}

#block:nth-child(9) {
    background-color: darkmagenta;
    height: 9%;
    width: 12%;
    top: 63%;
    left: 9%;
}

#block:nth-child(10) {
    background-color: darkorange;
    height: 9%;
    width: 12%;
    top: 70%;
    left: 46%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#block:nth-child(11) {
    background-color: darkkhaki;
    height: 7%;
    width: 17%;
    top: 80%;
    left: 18%;
}

#block:nth-child(12) {
    background-color: darkgrey;
    height: 12%;
    width: 17%;
    top: 79%;
    left: 74%;
}