#content {
    z-index: 1;
    height: 101%;
    width: 100%;
    visibility: collapse;
    opacity: 0;
    background-color: var(--color4);
    overflow: hidden;

    position: absolute;

    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: all 0ms;
}

#pages {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden;
    display: flex;
}

#pages::-webkit-scrollbar {
    display: none;
}

section {
    padding: 50px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: -150%;

    transition: left 500ms;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 5px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: var(--color1);
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

}

.content p {
    font-size: 30px;
    letter-spacing: 2px;
}

.content a {
    font-weight: bolder;
}

#navbar {
    display: flex;
    justify-content: space-around;
}

#navbar ul {
    padding: 0;
    margin: 25px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}

#navbar li {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

#navbar button {
    border: 0;
    background-color: transparent;
    height: 75px;
    font-size: 48px;

    color: black;
    opacity: 0.25;

    border-radius: 15px;
    text-decoration: none;
    transition: opacity 250ms;
}

#navbar button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.active {
    opacity: 1 !important;
    text-decoration: underline !important;
}
