#content {
    width: 95%;
    height: 95%;
    z-index: 1;
    visibility: collapse;
    opacity: 0;
    background-color: #FBEAEB;
    border-radius: 15px;

    position: absolute;
    display: flex;
    flex-direction: column;

    outline: solid 2px black;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#radiobuttons {
    background-color: #2F3C7E;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 50px;

    position: absolute;
    display: flex;
    justify-content: space-evenly;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}


.pages {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    height: 100%;
}

.pages::-webkit-scrollbar {
    display: none;
}

label {
    padding: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

input[type=radio] {
    position: absolute;
    visibility: collapse;
    height: 0;
    width: 0;
}

input[type=radio]:checked + h4 {
    background-color: #F96167;
}

h4 {
    background-color: #FBEAEB;
    padding: 0;
    margin: 0;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;

    border-radius: 10px;
    padding: 5px;
}

.spacer {
    background-color: blue;
    height: 20%;
}

section {
}

#welcomeSection {
    background-color: purple;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutmeSection {
    background-color: purple;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectsSection {
    background-color: purple;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcomeText {
    margin: 50px;
    font-size: 48px;
}

#welcomeDescription {
    flex: 50%;
    width: 50%;
    text-align: center;
}

.hidden  {
    opacity: 0;
    transition: all 100ms;
}

.show {
    opacity: 1;
    transition: all 2s;
}